# Database Configuration
DB_USER=rikkei
DB_PASSWORD=rikkei@2024
DB_NAME=rikkei_prod
DB_HOST=postgres
DB_PORT=5432

# Application
NODE_ENV=production

# Frontend
NEXT_PUBLIC_API_URL=http://api.rikkei.edu.vn
FRONTEND_PORT=3000

# Backend (JSON Server)
BACKEND_PORT=8080

# Server
DOMAIN=ngo-huu-nghia-k23.rikkeieducation.com
API_DOMAIN=api.ngo-huu-nghia-k23.rikkeieducation.com
